@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 95vh;
  max-width: 99vw;
  color: #fff;
  background-color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
